/* Content */

.passatempo-eventos {
  display: flex;
  height: auto;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.80);
  margin-top: 100px;
  padding: 40px;
}

.passatempo-eventos .left h1 {
  font-family: "Luckiest Guy";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 30px;
}

.passatempo-eventos .left p {
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.passatempo-eventos .left {
  width: 40%;
}

.passatempo-eventos .right {
  position: relative;
}

.passatempo-eventos .right .home_image {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-right: 70px;
  z-index: 10;
}

.passatempo-eventos .right .yellow_spot {
  position: absolute;
  width: 130%;
  left: -18%;
  top: -120px;
  z-index: 1;
}