:root {
  --yellow: #FFBD57;
  --blue: #8DA5ED;
  --black: #000000;
  --white: #FFFFFF;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Luckiest Guy", sans-serif;
  background-image: url("../assets/background.png");
  background-size: cover;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.80);
  height: 160px;
  place-items: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  z-index: 100;
}

nav .logo {
  margin-left: 60px;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
  margin-left: 20px;
  margin-right: 50px;
  justify-content: center;
  width: 100%;
}

nav ul li {
  display: flex;
  padding: 0px 20px;
  flex-grow: 1;
  text-align: center;
}

nav ul li a {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease 0s;
  z-index: 100;
}

nav ul li a:hover {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-text-stroke: 6px var(--yellow);
  paint-order: stroke fill;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.arrow-icon {
  margin-left: 8px;
  vertical-align: middle;
}

footer {
  background: rgba(255, 255, 255, 0.80);
  margin-top: 100px;
  height: 180px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 35px;
}

.social-media a img {
  width: 110%;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

@media (max-width: 1500px) {
  nav .logo {
    margin-left: 30px;
  }
  nav {
    display: none;
  }
}

@media (max-width: 800px) {
  nav {
    display: none !important;
  }
}