:root {
    --yellow: #FFBD57;
    --blue: #8DA5ED;
    --black: #000000;
    --white: #FFFFFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    background-color: #8DA5ED;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2px);
    height: 160px;
    place-items: center;
    align-items: center;
    position: fixed;
    width: 80%;
    top: 80px;
    z-index: 100;
}

nav .logo {
    margin-left: 45px;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-left: 50px;
    margin-right: 45px;
}

nav ul li a {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: row;
}

.arrow-icon {
    margin-left: 8px;
    vertical-align: middle;
}