:root {
    --yellow: #FFBD57;
    --blue: #8DA5ED;
    --black: #000000;
    --white: #FFFFFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Luckiest Guy", sans-serif;
    background-color: #8DA5ED;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2px);
    height: 160px;
    place-items: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    z-index: 100;
}

nav .logo {
    margin-left: 60px;
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-left: 50px;
    margin-right: 45px;
    justify-content: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-text-stroke: 6px var(--yellow);
    paint-order: stroke fill;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.arrow-icon {
    margin-left: 8px;
    vertical-align: middle;
}

/* Content */

.passatempo-eventos {
    display: flex;
    height: auto;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2px);
    margin-top: 100px;
    padding: 40px;
}

.passatempo-eventos .left h1 {
    font-family: "Luckiest Guy";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 30px;
}

.passatempo-eventos .left p {
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.passatempo-eventos .left {
    width: 40%;
}

.passatempo-eventos .right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}